.game-board {
  width: 600px;
  height: 600px;
  border: 2px solid #333;
  background-color: #fff;
  display: grid;
  grid-template-areas:
    ". player3 ."
    "player2 center player4"
    ". player1 .";
}

.player {
  padding: 10px;
  background-color: #e0e0e0;
  border: 2px solid #333;
  border-radius: 8px;
  max-width: 100px;
  max-height: 125px;
}

.player-1 {
  grid-area: player1;
}
.player-2 {
  grid-area: player2;
}
.player-3 {
  grid-area: player3;
}
.player-4 {
  grid-area: player4;
}

.center {
  grid-area: center;
  text-align: center;
  margin: 20px;
  background-color: #f4f4f4;
  border: 2px solid #333;
  border-radius: 8px;
}